In [8]:
#3.2 리스트
#3.2.1 리스트 생성  -> [] or list()
empty_list=[]
weekdaays=['mon', 'tue', 'wed','etc']
another_emptylist=list() #list() 는 빈 리스트 만듬

#3.2.2 다른 데이터타입을 리스트로 변환하기 -> list()
list('cat')

a_tuple = ('ready', 'fire', 'aim')
list(a_tuple) #list를 tuple로 변환

birthday = '07/10/1992'
birthday.split('/')
splitme = 'a/b//c/d//e'
splitme.split('/')

marxes=['Groucho', 'Chico', 'Harpo']
marxes[-1]

'Harpo'

In [15]:
#3.2.4 리스트의 리스트
a = ['a1', 'a2']
b = ['b1', 'b2']
c = ['c1', 'c2']
ttl = [a,b,c]
ttl
ttl[1]
ttl[1][0]

'b1'

In [24]:
#3.2.5 offset으로 항목바꾸기
name = ['kim','lee', 'park']
name[1] = 'choi'
name #list는 변경가능하지만 tuple은 불변

#3.2.6 슬라이스로 항목 추출하기
name[0:2] #!!주의 - 0이상 2미만에 해당하는 항목(이하X)
name[::2] # step=2
name[::-2] # 역순으로 step=2
name[::-1] # 리스트 반전

['park', 'choi', 'kim']

In [28]:
#3.2.7 리스트의 끝에 항목 추가하기 :append()
name = ['kim','lee', 'park']
name.append('Hong')
name

#3.2.8 리스트 병합하기 : extend() or +=
name2 = ['Baek', 'Yu']
name.extend(name2)
name
name+=name2
name # append를 사용하면 항목이 추가되지 않고 리스트 자체가 추가된다.

['kim', 'lee', 'park', 'Hong', 'Baek', 'Yu', 'Baek', 'Yu']

In [33]:
#3.2.9 offset과 insert()로 항목 추가하기
name = ['kim','lee', 'park']
name.insert(1,'kang') #1번 자리에 추가 (offset범위 넘어가면 그냥 맨뒤에 붙임)
name

#3.2.10 offset으로 항목삭제하기 : del
name = ['kim','lee', 'park']
del name[-1] #맨뒤에 항목삭제
name

#3.2.11 값으로 항목 삭제하기 : remove()
name = ['kim','lee', 'park']
name.remove('kim')
name

['lee', 'park']

In [39]:
#3.2.12 offset으로 항목을 얻은 후 삭제하기 : pop()
name = ['kim','lee', 'park', 'kang', 'hong']
name.pop() #pop()은 리스트에서 항목을 가져오면서 동시에 항목 삭제 -> hong출력하면서 name에서 hong삭제
name
name.pop(1) #offset이용가능
name

#3.2.13 값으로 항목 offset 찾기 : index()
name = ['kim','lee', 'park']
name.index('kim')

#3.2.14 존재여부 확인하기 : in
name = ['kim','lee', 'park']
'kim' in name

True

In [47]:
#3.2.15 값 세기 : count()
name = ['kim','lee', 'kim']
name.count('kim')

#3.2.16 문자열로 변환하기 : join()
name = ['kim','lee', 'park']
'/'.join(name) #split()의 반대

#3.2.17 정렬하기 : sort() -> 숫자: 오름차순/ 문자열: 알파벳순 정렬
    #sort() : 리스트 자체를 내부적으로 정렬 
    #sorted() : 리스트의 정렬된 복사본을 반환
name = ['b','a', 'c']
sorted_name = sorted(name)
sorted_name #알파벳 순 정렬, 복사본이므로 원본 name은 변하지 않음
name.sort()
name # 리스트 자체를 내부적으로 정렬함
name.sort(reverse=True) # 내림차순
name

['c', 'b', 'a']

In [6]:
#3.2.18 항목 개수 얻기 : len()
name = ['kim','lee', 'park']
len(name)

#3.2.19 할당: =  / 복사: copy()
a = [1,2,3]
b = a #할당
b
a[0] = 'sup'
a
b  #!!주의 : b는 리스트 객체의 a를 참조하므로 a가 변하면 b에 반영됨/
b[0] = 'sub'
b
a #!! b를 바꺼도 a에 반영

id(b)

140105203600392

In [62]:
#3.3 튜플
#3.3.1 튜플 생성하기 :()
empty_tuple=()
empty_tuple

name_tuple = 'kim','lee', 'park' #정의할 때 () 필요는 없다.
name_tuple

a, b, c = name_tuple #tuple은 한번에 여러변수를 할당할 수 있다 : 튜플 언패킹(tuple unpacking)
a;b;c

pw = 'aa1234'
ident = 'kuh1007'
pw, ident = ident, pw # 한 문장에서 값을 교환하기 위해 임시변수를 사용하지 않고 튜플을 사용할수 있다.
pw; ident

a_list = ['1','2'] # tuple()로 다른객체를 튜플로 만들어줄 수 있다.
tuple(a_list)

##튜플을 왜 사용하는가?
## 1) 튜플이 더 적은공간 사용
## 2) 실수로 튜플의 항목이 손상될 염려 X
## 3) 튜플을 딕셔너리 키로 사용할 수 있따
## 4) 네임드 튜플은 객체의 단순한 대안이 될 수 있따
## 5) 함수의 인자들은 튜플로 전달된다.

('1', '2')

In [74]:
#3.4 딕셔너리 -key,value 딕셔너리의 키는 유일해야한다!
#3.4.1 딕셔너리 생성하기 :{}
empty_dict={}
empty_dict

dict_chk = {
    "day" : "Monday just like the hell",
    "manner" : "manner makes man",
    "diet" : "i am always hungry"
}
dict_chk

#3.4.2 딕셔너리로 변경하기 : dict()
lol = [['a','b'],['c','d'],['e','f']]   #딕셔너리의 키 순서는 임의적임을 명심!
dict(lol)

##1)두 항목 튜플로 된 리스트
lot = [('a','b'),('c','d'),('e','f')]
dict(lot)

##2)두 항목 리스트로 된 튜플
lol = (['a','b'],['c','d'],['e','f'])
dict(lol)

##3)두 문자 문자열로 된 리스트
los = ['ab','cd','ef']
dict(los)

##4)두 문자 문자열로 된 튜플
tos = ('ab','cd','ef')
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [80]:
#3.4.3 항목 추가/변경하기 : [key]
dict_chk = {
    "day" : "Monday just like the hell",
    "manner" : "manner makes man",
    "diet" : "i am always hungry"
}
dict_chk['money'] = 'dollar and won and yen' #추가
dict_chk

dict_chk['money'] = 'won and yen and dollar' #변경
dict_chk

#3.4.4 딕셔너리 결합하기 : update()
others = {'hobby': 'soccer', 'food': 'fruit'}
dict_chk.update(others)
dict_chk #순서는 임의적

#결합하려는데 키값이 중복된 경우-> 두번째 딕셔너리 값이 승리
first = first = {'a':1, 'b':2}
second = {'b':'play'}
first.update(second) #second의 b값으로 설정!
first

{'a': 1, 'b': 'play'}

In [84]:
#3.4.5 키와 del로 항목 삭제하기
dict_chk = {
    "day" : "Monday just like the hell",
    "manner" : "manner makes man",
    "diet" : "i am always hungry"
}
del dict_chk["day"]
dict_chk

#3.4.6 모든 항목 삭제하기 : clear()
dict_chk.clear()
dict_chk

#3.4.7 in으로 키 멤버십 테스트하기(키가 존재하는지 알고 싶을 때)
dt = first = {'a':1, 'b':2, 'c':3, 'd':4}
'b' in dt #boolean
'e' in dt

False

In [91]:
#3.4.8 항목 얻기 : [key]
dt = first = {'a':1, 'b':2, 'c':3, 'd':4}
dt['a']
dt.get('b')
dt.get('e', 'not exist') #key로 e가 없으면 다음 출력

#3.4.9 모든 키 얻기: keys()
dt.keys()

#3.4.10 모든 값 얻기: values()
dt.values()

#3.4.11 모든 쌍의 키-밸류 얻기 : items()
list(dt.items()) #각 키와 밸류는 튜플로 반환

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [96]:
#3.4.12 할당: = , 복사: copy()
dt =  {'a':1, 'b':2, 'c':3, 'd':4}
dt2 = dt
dt['a']=100
dt 
dt2 # list와 마찬가지로 dt2도 변경 적용(참조)

#복사
dt3 = dt.copy()
dt['a']=500
dt
dt3 #복사했기 때문에 변경 반영안됨

{'a': 100, 'b': 2, 'c': 3, 'd': 4}

In [102]:
#3.5 셋 : set - 값은 버리고 키만 남은 딕셔너리 (마찬가지로 키는 유일해야함)
#어떤 것이 존재하는지 여부를 알고자할 때 사용

#3.5.1 셋 생성하기 :set()
empty_set = set()
empty_set
even_numbers = {0,2,4,6,8}
even_numbers
odd_numbers = {1,3,5,7,9}
odd_numbers

#3.5.2 데이터 타입 변환하기 : set()
set('letter') #중복처리 후 출력
set({'a':1, 'b':2, 'c':3, 'd':4})
#리스트를 셋으로, 튜플을 셋으로 만들 수 있다.

{'a', 'b', 'c', 'd'}

In [132]:
#3.5.3 in으로 값 멤버십 테스트하기
drinks ={
    'martini': {'vodka', 'vermouth'},
    'black russian' : {'vodka', 'kahlua'},
    'white russian' : {'cream', 'kahlua', 'vodka'},
    'manhattan' : {'rye', 'vermouth', 'bitters'}
}
#보드카가 포함된 음료는?
for name, contents in drinks.items():
    if 'vodka' in contents:
        print(name)
        
#3.5.4 콤비네이션과 연산자
#보드카 혹은 버몬트가 들어있는 음료는?
for name, contents in drinks.items():
    if contents & {'vermouth', 'vodka'}:   #set의 intersection 연산자 : & (앰퍼샌드)
        print(name)

#보드카는 있지만 크림이나 버몬트는 없는 음료는?
for name, contents in drinks.items():
    if 'vodka' in contents and not contents & {'cream', 'vermouth'}:
        print(name)

# &와 intersection()
a = {1,2}
b = {2,3}
a&b
a.intersection(b)

bruss = drinks['black russian'] # 키로 밸류 가져오기
wruss = drinks['white russian']
bruss; wruss
bruss & wruss

# |연산자와 union()
a|b
a.union(b)
bruss|wruss

# -연산자와 difference() ->차집합
a-b
a.difference(b)
wruss-bruss

# ^연산자와 symmetric_difference() ->합집합-교집합
a^b
a.symmetric_difference(b)

# <=연산자와 issubset() - 부분집합 , < : 진부분집합(proper subset)
a<=b
a.issubset(b)

# >=연산자와 issuperset() 
a>=b
a.issuperset(b)

martini
black russian
white russian
martini
black russian
white russian
manhattan
black russian

AttributeError: 'set' object has no attribute 'issupersubset'

In [ ]:
#3.6 자료구조 비교하기
# 복습 - []: 리스트, 콤마(,): 튜플, {}: 딕셔너리

#3.7 자료구조를 더크게